
body {
    padding: 0;
}

.intro {
    background: url("static/intro.jpg") repeat center;
    margin: 0;
    padding: 0;
    height: 40rem;
}

.intro .logo {
    color: #f3f3f3;
    text-align: center;
    padding-top: 10rem;
    font-size: 4rem;
}

.intro .sublogo {
    color: #f5f5f5;
    text-align: center;
    font-size: 2rem;
}

.intro .down {
    color: #f3f3f3;
    text-align: center;
    padding-top: 15rem;
    font-size: 2rem;
    text-decoration: none;
}

.vs {
    padding-top: 2rem;
    text-align: center;
    font-size: 2.2rem;
}

#problem {
    padding-bottom: 3rem;
    padding-top: 2rem;
}

#problem #vs_describe {
    font-size: 1.2rem;
    text-align: center;
}

#problem #how_it_now {
    height: 25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

#solution {
    padding-top: 2rem;
    padding-bottom: 1.8rem;
    font-weight: bold;
    background-color: #0175A2;
    color: white;
    font-size: 1.5rem;
}

#solution .vs {
    color: white;
    font-size: 2.2rem;
}

#solution img {
    height: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#partners {
    padding-top: 2rem;
    padding-bottom: 1.8rem;

}

#partenrs .vs_description {
    text-align: center;
    font-size: 1.8rem;
}

#partners img {
    width: 6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#partners #p4 {
    padding-top: 1rem;
}

#partners #p5 {
    width: 5rem;
}

#partners #p6 {
    width: 5.6rem;
}

#partners #p7 {
    width: 5.6rem;
}

#partners #p8 {
    padding-top: 1rem;
}

#partners #p9 {
    width: 5.5rem;
}
